@font-face {
            font-family: 'robotobold';
            src: url('font/roboto-bold-webfont.woff2') format('woff2'),
                 url('font/roboto-bold-webfont.woff') format('woff'),
                 url("font/roboto-bold-webfont.ttf") format("truetype");    /*Safari,Android,iOS*/
            font-weight: normal;
            font-style: normal;

        }
