* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑","Verdana","宋体","Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
}

#top {
    width: 100%;
    height: 100px;
    background-color: #D6DBE9;
}

#main {
    width: auto;
    height: auto;
    background-color: #aaa;
}

#content {
    width: 100%;
    height: 580px;
}

#left {
    width: 150px;
    height: 100%;
    background-color: #EEEEEE;
    float: left;
}

#right {
    width: 650px;
    height: 100%;
    float: left;
    background-color: #ff6a00;
}

#foot {
    width: 100%;
    height: 100px;
    background-color: #C1C1E5;
}


