<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration> 
    <connectionStrings>
        <add name="SdbiAttentionSystemConnectionString" connectionString="Data Source=123.206.207.26;Initial Catalog=SdbiAttentionSystem;Persist Security Info=True;User ID=qiuier;Password=Aa123456789"
            providerName="System.Data.SqlClient" />
        <add name="SdbiAttentionSystemConnectionString" connectionString="Data Source=192.168.53.110;Initial Catalog=SdbiAttentionSystem;Persist Security Info=True;User ID=15soft03;Password=1267"
            providerName="System.Data.SqlClient" />z  w335  Q
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      
      <httpRuntime targetFramework="4.5.2" maxRequestLength="40960" executionTimeout="60" appRequestQueueLimit="100"/>
      
    </system.web>

</configuration>
